{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - Easy Ambiental</title>
{% endblock %}


{% block content %}
    <div id="wrapper">
        <img src="https://images.unsplash.com/flagged/photo-1576045771676-7ac070c1ce72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Easy Ambiental">
        <h1>Easy Ambiental</h1>
        <h2>Somos uma empresa especializada em solucionar Problemas Ambientais e tornar seu negócio sustentável de acordo com as <a href="https://www.ejeq.com.br/legislacao-ambiental/" target="_blanck">Normas Ambientais</a> atuais.</h2>
        <h3>Áreas de atuação:</h3>
        <ul>
            <li>Licenciamento Ambiental</li>
            <li>Auditorias e Diagnósticos Ambientais</li>
            <li>Plano de Gerenciamento Ambiental</li>
            <li>Análises de Qualidade de Água e de Ar</li>
        </ul>
{% endblock %}




  
