{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - {{ about.name }}</title>
{% endblock %}


{% block content %}
    <div id="wrapper">
        <img src="{{ about.avatar_url }}" alt="Imagem de {{ about.name }}">
        <h1>{{ about.name }}</h1>
        <h2>{{ about.description }}</h2>
        <h3>{{ about.role }}</h3>
        <ul>
            {% for area in about.areas %}
            <li>{{ area.area }}</li>
            {% endfor %}
        </ul>
{% endblock %}




  
