@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root {
    --color-darkgreen:#006400;
    --color-gray: #4F4F4F;
    --color-green: #2E8B57;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #f0f0f0;
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    padding: 30px;
    border-bottom: 2px solid #334444;
    background: var(--color-green);
}

.links {
    text-align: center;
}

.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 30px;
    text-decoration: none;
}

.links a:hover {
    color: var(--color-darkgreen);
    transition: color 300ms;
}

#wrapper {
    text-align: center;
    padding: 32px;
    color: #363636;
}

#wrapper img {
    border-radius: 50%;
    border: 5px solid var(--color-darkgreen);
    margin-bottom: 32px;
    height: 250px;
    width: 250px;
}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#wrapper h2 {
    max-width: 900px;
    margin: 10px auto;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    opacity: 0.8;
}

#wrapper h2 a {
    color: var(--color-darkgreen);
}

#wrapper h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

#wrapper ul {
    list-style: none;
}
#wrapper ul li{
    padding: 5px;
}

footer {
    padding: 20px 0px;
    border-top: 2px solid #334444;
    background: var(--color-green);

    position:absolute;
    bottom:0;
    width:100%;
}

/*=== CARD ===*/

.cards {
    max-height: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: var(--color-green);
    color: whitesmoke;
    display: grid;
    cursor: pointer;
}

.card__image-container img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card__content,
.card__info {
    padding: 24px;
}

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.card__price {
    background-color: rgba(0, 0, 0, 0.2);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/*=== MODAL ===*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}
.modal .maximize-modal {
    color: black;
    position: absolute;
    right: 36px;
    top: 8px;
    cursor: pointer;
}
.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/*=== MODAL.ACTIVE ===*/
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}

/*=== MAXIMIZE.ACTIVE ===*/

.modal.maximize{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -5%;
}

/*=== FEATURED ===*/
.featured-wrapper.card__image-container{
    position: relative;
}

.featured {
    background: yellowgreen;
    color: black;
    font-weight: bold;
    border-radius: 6px;

    padding: 2px 8px;
    position: absolute;
    right: 5px;
    top: -11px;
    
}

/*=== COURSE PAGE ===*/
.course{
    margin: 0 auto;
}

.card .card__course-container{
    background: #f0f0f0;
    position: relative;
    padding-top: 62.5%;
}

.card .card__course-container iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}